<!DOCTYPE html>
<html lang="en">
  <%- include('common/head.ejs', {title}) %>
  <body class="d-flex flex-column align-items-center">
    <%- include('common/nav.ejs') %>
    <h1><%= title %></h1>

    <p><%= message %></p>
  </body>
</html>
