<nav class="container-fluid my-3">
  <div class="d-flex justify-content-between">
    <div>
      <a class="btn btn-outline-primary" href="/">Home</a>
    </div>
    <div>
      <a class="btn btn-outline-primary" href="/greet">Greet</a>
      <a class="btn btn-outline-primary" href="/math/2/times/3">Math Time</a>
      <a class="btn btn-outline-primary" href="/pandorasbox"
        >Im feeling lucky...</a
      >
    </div>
  </div>
</nav>
