<nav class="mt-3 ml-3">
  <a class="btn btn-primary" href="/">Home</a>
  <a class="btn btn-primary" href="/greet?name=Sean&dob=2002">Greet</a>
  <a class="btn btn-primary" href="/math/2/times/3">Math Time</a>
  <a class="btn btn-primary" href="/pandorasbox">Im feeling lucky...</a>
</nav>
